.main {
  background-color: #3a3636;
  min-height: 100vh;
  margin: 0px;
  padding: 20px 30px;
}

.main h1 {
  text-align: center;
  color: azure;
}

.main .card-grid {
  margin: 30px 0px;
}

.main .card-grid .card {
  -webkit-box-shadow: #00000050 2px 2px 3px;
          box-shadow: #00000050 2px 2px 3px;
  background-image: linear-gradient(150deg, #5e5c55 0%, #c0b6a8 33%, #494743 66%, #989589 100%);
  color: azure;
}

.main .card-grid .card .vehicle-name {
  font-size: 20px;
  font-weight: 700;
  color: #310680;
  padding: 0px;
  margin: 15px 0px 0px 0px;
}

.main .card-grid .card .brand {
  margin: 0px;
}

.main .card-grid .card .image {
  aspect-ratio: 16/9;
}

.main .card-grid .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .card-grid .card .card-info .color {
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50px;
  border: azure 1px solid;
}

.main .card-grid .card .bid-btn {
  background-image: linear-gradient(150deg, #5e5c55 0%, #c0b6a8 33%, #494743 66%, #989589 100%);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.main .card-grid .card .bid-btn:hover {
  background-image: linear-gradient(150deg, #5e5c55 0%, #c0b6a8 50%, #494743 100%, #989589 100%);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.main .btn-cart {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8f7b36), color-stop(40%, #85530c), color-stop(60%, #cfb47e), to(#836a08));
  background-image: linear-gradient(#8f7b36 0%, #85530c 40%, #cfb47e 60%, #836a08 100%);
  font-weight: 500;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.main .btn-cart:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8f7b36), color-stop(50%, #85530c), color-stop(100%, #cfb47e), to(#836a08));
  background-image: linear-gradient(#8f7b36 0%, #85530c 50%, #cfb47e 100%, #836a08 100%);
  color: azure;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.main .cart {
  min-height: 100vh;
  width: 460px;
  position: absolute;
  right: 0px;
  top: 150px;
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
  background-color: #333636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: #2e2c2c40 2px 2px 5px;
          box-shadow: #2e2c2c40 2px 2px 5px;
}

.main .cart h2 {
  text-align: center;
  padding: 10px;
  color: azure;
  font-weight: 700;
}

.main .cart .cart-item {
  width: 450px;
  height: 140px;
  padding: 10px;
  border: #494743 1px solid;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: inset #ffffff40 2px 2px 5px;
          box-shadow: inset #ffffff40 2px 2px 5px;
  color: azure;
  background-color: #252727;
}

.main .cart .cart-item .img {
  width: 140px;
  aspect-ratio: 1;
  border-radius: '5px';
}

.main .cart .cart-item .img img {
  width: 140px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .cart .cart-item .content {
  width: 290px;
}

.main .cart .cart-item .content p {
  margin: 0px;
  font-size: 12px;
}
/*# sourceMappingURL=App.css.map */